:root {
  --black: #0d0d0d;
  --red: #bf1b1b;
  --blue: #164f73;
  --dark-orange: #d9501e;
  --orange: #f28a2e;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
  color: var(--black);
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 {
  font-size: 2.44em;
}

h3,
.text-size-h3 {
  font-size: 1.95em;
}

h4,
.text-size-h4 {
  font-size: 1.56em;
}

h5,
.text-size-h5 {
  font-size: 1.25em;
}

.text-caption {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.64em;
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  margin: 10px;
  padding: 10px;
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
}

header a {
  text-decoration: none;
  color: var(--black);
}

nav ul {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  padding: 1rem 2rem;
}

nav li a {
  padding: 1rem 2rem;
  border: 1px solid var(--black);
  border-left: none;
  text-decoration: none;
  color: var(--black);
}

nav li a:first-child {
  border-left: 1px solid var(--black);
}

main {
  margin: 10px;
  padding: 10px;
}

footer {
  margin: 10px;
  padding: 10px;
}

.comments-section {
  margin: 10px;
  padding: 10px;
}

.comment-card {
  margin: 10px;
  padding: 10px;
}

.article-list,
.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .article-list-article {
  display: flex;
  justify-content: space-between;
} */

.article-list-img {
  max-width: 300px;
  padding: 2em;
}

.link-styles {
  text-decoration: none;
  color: var(--black);
}

.article-list-article h3 {
  margin-top: 0;
}

.blue-topper {
  background-color: var(--blue);
  color: white;
  font-weight: 900;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/*--------grid*/
.grid {
  display: grid;
  width: 100%;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.grid__item {
  border: 1px solid black;
}
@media screen and (min-width: 768px) {
  .grid__item:first-child {
    grid-column: span 2;
  }
}
/*--------grid*/
