:root {
  --black: #000000;
  --red: #ff0000;
  --blue: #00ffff;
  --yellow: #ffff00;
  --purple: #7200ff;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography -------------------------------- */

html {
  font-size: 16px;
}

body {
  font-family: 'Figtree', sans-serif;
  line-height: 1.65;
  font-weight: 300;
  color: var(--black);
  margin: 0;
  padding: 0;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Figtree', sans-serif;
  line-height: 1.15;
  font-weight: 600;
  font-style: italic;
}
h1,
.text-size-h1 {
  font-weight: 900;
  margin-top: 0;
  font-size: 3.05em;
}
h1 {
  grid-area: text;
  font-size: 15vmin;
  margin: 0;
  color: var(--black);
  text-shadow: 1vmin 1vmin 0 var(--red), -1vmin -1vmin 0 var(--blue);
}
.no-shadow {
  text-shadow: none;
}

h2,
.text-size-h2 {
  font-size: 2.44em;
}

h3,
.text-size-h3 {
  font-size: 1.95em;
}

h4,
.text-size-h4 {
  font-size: 1.56em;
}

h5,
.text-size-h5 {
  font-size: 1.25em;
}

.text-caption {
  font-size: 0.8em;
}

small,
.text-small {
  font-size: 0.8em;
  font-weight: 600;
}

a {
  text-decoration: underline transparent;
  transition: text-decoration 300ms ease;
}
a:hover {
  text-decoration-color: var(--yellow);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Buttons and Links -------------*/

button {
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--black);
  margin: 0 1rem;
  position: relative;
  transition: 0.2s;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  transform: translateY(-0.8%);
  box-shadow: 0.5rem 0.5rem var(--black);
}

svg {
  padding-right: 0.2em;
}

a {
  color: var(--black);
}

.no-decoration {
  text-decoration: none;
}

/* Structure -----------------------------------*/

main {
  padding: 2rem;
}

.app-container {
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
  max-width: 1280px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* Header & Nav -------------------------------- */

header {
  border-bottom: 1px solid var(--black);
}
.logo {
  text-decoration: none;
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--black);
}

nav ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

nav li a {
  position: relative;
  transition: 0.2s;
  padding: 1rem 2rem;
  border: 1px solid var(--black);
  text-decoration: none;
  color: var(--black);
  margin-left: 1em;
  text-transform: capitalize;
  font-weight: 600;
}

nav li {
  margin-bottom: 2.5em;
}

nav li a:hover {
  transform: translateY(-0.8%);
  box-shadow: 0.5rem 0.5rem var(--black);
}

nav li a:hover {
  transform: translateY(-0.8%);
  box-shadow: 0.5rem 0.5rem var(--black);
}

.user-icon,
.nav-question {
  font-family: 'Figtree', sans-serif;
  line-height: 1.15;
  font-weight: 600;
  font-style: italic;
  font-size: 1.56em;
  color: var(--black);
}

.user-icon {
  font-size: 1em;
  font-weight: 300;
}

.topics {
  padding: 0 2em;
}
.sort-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.sort-form select {
  border-radius: 0;
  margin: 1rem;
  border: none;
  font-size: 1em;
  font-weight: 300;
}

/* Article and Comments -------------------------------- */

.article-page {
  display: flex;
  flex-direction: column;
}

.article-page img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.article-body {
  padding: 15px;
}

.comments-section,
.article-page {
  border: 1px solid var(--black);
}

.article-page {
  border-bottom: none;
}

.topic-topper a {
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.cooking {
  background-color: var(--yellow);
}

.football {
  background-color: var(--red);
  font-weight: 900;
}

.coding {
  background-color: var(--blue);
  font-weight: 900;
}

.comments-section {
  padding: 2rem;
}

.comment-list {
  max-width: 70ch;
}

.article-page button {
  margin-bottom: 1em;
}

/* Article Grid */
.grid {
  display: grid;
  width: 100%;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.grid__item {
  border: 1px solid var(--black);
  transition: 0.2s;
}

.grid__item:hover {
  transform: translateY(-0.2%);
  box-shadow: 0.5rem 0.5rem var(--black);
}

/* Article Cards */
.card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.article-list-article {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes full height */
}

.card-content {
  padding: 0 1rem;
  flex-grow: 1;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.comment-card {
  margin: 3em 0;
}

/* Footer -------------------------------- */

footer {
  background-color: var(--black);
  border-top: 1px solid var(--black);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.footer-container,
.get-in-touch {
  padding: 2rem;
  max-width: 50%;
}

footer a {
  color: white;
}

.logo {
  grid-area: text;
  font-size: 10vmin;
  font-weight: 900;
  margin: 0;
  color: white;
  text-shadow: 0.4vmin 0.4vmin 0 var(--red), -0.4vmin -0.4vmin 0 var(--blue);
}

/* Users --------------------------------*/
.users img {
  max-width: 150px;
}

.users-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  gap: 2em;
}
.users-list li {
  border: 1px solid var(--black);
  transition: 0.2s;
  padding: 0 2em;
  min-width: 200px;
}

.users-list li:hover {
  cursor: pointer;
  transform: translateY(-0.2%);
  box-shadow: 0.5rem 0.5rem var(--black);
}

.user-selected {
  box-shadow: 0.5rem 0.5rem var(--black);
}

.users-list li img {
  margin-top: 2em;
  margin-left: 1em;
}

/* Errors ----------------------------*/

.errors {
  margin: 2em;
  padding: 1em;
  border: 1px solid var(--red);
}

/* Loader-----------------------------*/

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--black);
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* Big screen -----------------------------*/

@media screen and (min-width: 768px) {
  .grid__item:first-child {
    grid-column: span 2;
  }
  .grid__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid__item:nth-child(8) .card-img {
    display: block;
    width: 100%;
    height: 35rem;
    object-fit: cover;
  }
  .topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
  .nav-question {
    margin-top: 1em;
  }

  nav li {
    margin-bottom: 2em;
  }
  .article-page {
    flex-direction: row;
    align-items: flex-start;
  }

  .article-page > div {
    flex: 1;
  }

  .form-container form {
    display: flex;
    flex-direction: row;
  }

  textarea {
    width: 35ch;
    height: 3.5em;
  }

  nav ul {
    width: 100%;
    margin-top: 2em;
  }

  .header-nav {
    flex-direction: row;
  }
  .sort-form {
    display: block;
    padding-bottom: 2rem;
    text-align: center;
  }
  footer {
    flex-direction: row;
  }
}
